@use 'true' as *;
@use '../mixins' as blazer;

@include test-module('blazer-utils') {
	@include test('image-replacement') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.image-replacement();
				}
			}

			@include expect() {
				.jackie {
					display: block;
					overflow: hidden;
					text-align: left;
					background-color: transparent;
					background-repeat: no-repeat;
					text-indent: -9999px;
					direction: ltr;
				}

				.jackie br {
					display: none;
				}
			}
		}
	}

	@include test('hidden') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.hidden();
				}
			}

			@include expect() {
				.jackie {
					display: none !important;
					visibility: hidden;
				}
			}
		}
	}

	@include test('invisible') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.invisible();
				}
			}

			@include expect() {
				.jackie {
					visibility: hidden;
				}
			}
		}
	}

	@include test('hidden-visually') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.hidden-visually();
				}

				.macy {
					@include blazer.hidden-visually(true);
				}

				.chase {
					@include blazer.hidden-visually-revert();
				}
			}

			@include expect() {
				.jackie {
					position: absolute;
					top: -9999px;
					left: -9999px;
					white-space: nowrap;
				}

				.macy {
					position: absolute;
					top: -9999px;
					left: -9999px;
					white-space: nowrap;
				}

				.macy:focus,
				.macy:active {
					position: static;
				}

				.chase {
					position: static;
				}
			}
		}
	}

	@include test('cf') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.cf();
				}
			}

			@include expect() {
				.jackie:after {
					content: ' '; /* 1 */
					display: table; /* 2 */
					clear: both;
					border-collapse: collapse; /* 3 */
				}
			}
		}
	}
}
