@use 'true' as *;
@use '../mixins' as blazer;

@include test-module('blazer-utils') {
	@include test('image-replacement') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.image-replacement();
				}
				.otis {
					@include blazer.image-replacement($handle-breaks: false);
				}
			}

			@include expect() {
				.jackie {
					display: block;
					overflow: hidden;
					text-align: left;
					background-color: transparent;
					background-repeat: no-repeat;
					color: transparent;
					text-indent: 100%;
					direction: ltr;
					user-select: none;
				}

				.jackie br {
					display: none;
				}

				.otis {
					display: block;
					overflow: hidden;
					text-align: left;
					background-color: transparent;
					background-repeat: no-repeat;
					color: transparent;
					text-indent: 100%;
					direction: ltr;
					user-select: none;
				}
			}
		}
	}

	@include test('hidden') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.hidden();
				}
			}

			@include expect() {
				.jackie {
					display: none !important;
					visibility: hidden;
				}
			}
		}
	}

	@include test('invisible') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.invisible();
				}
			}

			@include expect() {
				.jackie {
					visibility: hidden;
				}
			}
		}
	}

	@include test('hidden-visually') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.hidden-visually();
				}
			}

			@include expect() {
				.jackie:not(:focus-within, :active) {
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					padding: 0;
					border: 0;
					overflow: hidden;
					white-space: nowrap;
					clip: rect(0 0 0 0);
					clip-path: inset(50%);
					user-select: none;
				}
			}
		}
	}

	@include test('cf') {
		@include assert() {
			@include output() {
				.jackie {
					@include blazer.cf();
				}
			}

			@include expect() {
				.jackie:after {
					content: ' '; /* 1 */
					display: table; /* 2 */
					clear: both;
					border-collapse: collapse; /* 3 */
				}
			}
		}
	}
}
